body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(158, 105, 255, 0.589);
}

/*Navbar */
nav {
    display: flex;
    justify-content: end;
    gap: 50px;
    padding: 30px;
}

.active {
    color: darkblue;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar {
    background-color: orange;
    padding: 30px;
    color: black;
}
